<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Báo điện tử</a></li>
            {{#with this.categoryInfo}}
            <li class="breadcrumb-item"><a href="/view/cat/{{category_id}}">{{category_name}}</a></li>
            {{#unless byCat}}
            <li class="breadcrumb-item"><a href="/view/cat/{{category_id}}/{{subCategory_id}}">{{subCategory_name}}</a>
            </li>
            {{/unless}}
            {{/with}}
        </ol>
    </nav>
    <div class="row">

        {{#each this.articlesList}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/public/images/big/img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>
                                {{#if ../byCat}}
                                {{../categoryInfo.category_name}}
                                {{else}}
                                {{../categoryInfo.subCategory_name}}
                                {{/if}}
                                {{#if is_premium}}
                                <span class="badge badge-success">Premium</span>
                                {{/if}}
                            </h5>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text text-right"><small class="text-muted">{{views}} lượt xem - {{published_time}}</small></p>
                        </div>
                    </div>
                    <h5 class="card-title"><a href="/view/post/{{article_id}}">{{title}}</a></h5>
                    <p class="card-text">{{abstract}}</p>
                    {{#each this.tagsList}}
                    <a href="/view/tag/{{tag_id}}" class="badge badge-primary">{{tag_name}}</a>
                    {{/each}}

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="pt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {{#if this.byCat}}
                    {{#if this.pagingList.prev}}
                    <li class="page-item">
                        <a class="page-link" href="/view/cat/{{this.categoryInfo.category_id}}?page={{this.pagingList.prev}}" tabindex="-1" aria-disabled="true">Trước</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
                    </li>
                    {{/if}}
                {{else}}
                    {{#if this.pagingList.prev}}
                    <li class="page-item">
                        <a class="page-link" href="/view/cat/{{this.categoryInfo.category_id}}/{{this.categoryInfo.subCategory_id}}?page={{this.pagingList.prev}}" tabindex="-1" aria-disabled="true">Trước</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
                    </li>
                    {{/if}}
                {{/if}}

                {{#each this.pagingList.list}}
                    {{#if ../byCat}}
                    <li class="page-item {{#if active}}active{{/if}}"><a class="page-link"
                            href="/view/cat/{{../categoryInfo.category_id}}?page={{page}}">{{page}}</a></li>
                    {{else}}
                    <li class="page-item {{#if active}}active{{/if}}"><a class="page-link"
                            href="/view/cat/{{../categoryInfo.category_id}}/{{../categoryInfo.subCategory_id}}?page={{page}}">{{page}}</a>
                    </li>
                    {{/if}}
                {{/each}}

                {{#if this.byCat}}
                    {{#if this.pagingList.next}}
                    <li class="page-item">
                        <a class="page-link" href="/view/cat/{{this.categoryInfo.category_id}}?page={{this.pagingList.next}}" tabindex="-1" aria-disabled="true">Sau</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Sau</a>
                    </li>
                    {{/if}}
                {{else}}
                    {{#if this.pagingList.next}}
                    <li class="page-item">
                        <a class="page-link" href="/view/cat/{{this.categoryInfo.category_id}}/{{this.categoryInfo.subCategory_id}}?page={{this.pagingList.next}}" tabindex="-1" aria-disabled="true">Sau</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Sau</a>
                    </li>
                    {{/if}}
                {{/if}}
            </ul>
        </nav>
    </div>
</div>