<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo điện tử - 2021</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/css/tagsinput.css" rel="stylesheet" type="text/css">
    {{{_sections.css}}}
    <style>
        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu {
                display: none;
            }

            .navbar .nav-item:hover .nav-link {}

            .navbar .nav-item:hover .dropdown-menu {
                display: block;
            }

            .navbar .nav-item .dropdown-menu {
                margin-top: 0;
            }
        }

        .carousel-caption {
            left: 0;
            right: 0;
            bottom: 0;
            text-align: left;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
            text-shadow: none;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="/">
            Báo điện tử
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#each this.categoriesList}}
                <li class="nav-item dropdown">
                    <a class="nav-link" role="button" id="navbarDropdown" href="/view/cat/{{this.category.category_id}}"
                        aria-haspopup="true" aria-expanded="false">
                        {{this.category.category_name}}
                    </a>
                    {{#unless this.empty}}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each this.subCategoriesList}}
                        <a class="dropdown-item"
                            href="/view/cat/{{category_id}}/{{this.subcategory_id}}">{{this.subcategory_id}} -
                            {{this.subcategory_name}}</a>
                        {{/each}}
                    </div>
                    {{/unless}}
                </li>
                {{/each}}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/view/search/" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Nội dung ..." aria-label="Search"
                    name="keyword">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
            <ul class="navbar-nav navbar-right">
                {{#if logged}}
                {{#if (ifCond user.role '==' '3')}}
                <li class="nav-item">
                    <a class="nav-link" href="/writer">Phóng viên</a>
                </li>
                {{/if}}
                {{#if (ifCond user.role '==' '4')}}
                <li class="nav-item">
                    <a class="nav-link" href="/editor">Biên tập viên</a>
                </li>
                {{/if}}
                {{#if (ifCond user.role '==' '5')}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Quản trị viên</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/info">Tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: $('#frmLogout').submit();"><i class="fa fa-sign-out"
                            aria-hidden="true"></i>Đăng xuất</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login"><i class="fa fa-key" aria-hidden="true"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Đăng
                        ký</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Quản lý</h3>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {{#if (ifCond path '==' 'category')}} active {{/if}}" href="/admin/category">Chuyên mục</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (ifCond path '==' 'tag')}} active {{/if}}" href="/admin/tag">Nhãn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/post">Bài viết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">Người dùng</a>
            </li>
        </ul>
    </div>
    {{{ body }}}
    <form id="frmLogout" action="/user/logout" method="POST"></form>
    <div style="padding-bottom: 100px"></div>
    <footer class="bg-light text-center text-lg-start fixed-bottom shadow-sm">
        <div class="text-center p-3">
            Báo điện tử 2021
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="/public/js/tagsinput.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>

</html>