<div class="container">
    {{#if article}}
    <div class="row">
        <div class="col-md-12">
            <h3>Chỉnh sửa bài viết</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="editPostForm" method="POST" action="../edit-post">
                <div class="form-group">
                    <label for="title">Tiêu đề</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{article.title}}">
                </div>
                <div class="form-group">
                    <span class="d-none" id="old-subcategory-id">{{article.subcategory_id}}</span>
                    <label for="category">Chuyên mục</label>
                    <select id="category" class="form-control" name="subcategory_id">
                        <option value="" disabled hidden>Chọn chuyên mục</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="abstract">Tóm tắt</label>
                    <textarea class="form-control" id="abstract" name="abstract">{{article.abstract}}</textarea>
                </div>
                <div class="form-group">
                    <label for="content">Nội dung</label>
                    <textarea name="content" id="content" name="content"
                        class="form-control">{{article.content}}</textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Gán nhãn</label>
                    <input type="text" class="form-control" id="tags" name="tags" data-role="tagsinput">
                    <p class="text-muted">Chú ý: Phân biệt các nhãn bằng cách enter</p>
                </div>
                <div class="form-group d-none">
                    <input type="text" readonly class="form-control" id="article-id" name="article_id"
                        value="{{article_id}}">
                </div>
                <center> <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu thay đổi</button>
                </center>
            </form>
        </div>
    </div>
    {{else}}
    <p>Bạn không có quyền chỉnh sửa bài viết này!</p>
    {{/if}}
</div>

{{#section 'js'}}
<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('content');

    $.getJSON('/ajax/get-category-list', async function (catList) {
        const old_subcategory_id = $('#old-subcategory-id').html();
        for (const cat of catList) {
            $('#category').append(`<optgroup label="${cat.category_name}" id="cat${cat.category_id}"></optgroup>`);
            await $.getJSON(`/ajax/get-subcategory-list?catid=${cat.category_id}`, function (subcatList) {
                for (const subcat of subcatList) {
                    if (subcat.subcategory_id === +old_subcategory_id) {
                        $(`#cat${cat.category_id}`).append(`<option selected value="${subcat.subcategory_id}">${cat.category_name} &gt; ${subcat.subcategory_name}</option>`);
                    } else {
                        $(`#cat${cat.category_id}`).append(`<option value="${subcat.subcategory_id}">${cat.category_name} &gt; ${subcat.subcategory_name}</option>`);
                    }
                }
            })
        }
    })

    const article_id = +$('#article-id').val();
    $.getJSON(`/ajax/get-tag-list?artid=${article_id}`, function (tagList) {
        for (const tag of tagList) {
            $('#tags').tagsinput('add', tag);
        }
    });

    $('#editPostForm').on('submit', function (event) {
        event.preventDefault();

        const title = $('#title').val();
        if (title.length === 0) {
            alert('Bạn chưa nhập tiêu đề bài viết!');
            return;
        }

        const abstract = $('#abstract').val();
        if (abstract.length === 0) {
            alert('Bạn chưa nhập tóm tắt bài viết!');
            return;
        }

        const tags = $('#tags').val();
        if (tags.length === 0) {
            alert("Bạn chưa gán nhãn bài viết!");
            return;
        }

        const content = CKEDITOR.instances["content"].getData();
        if (content.length === 0) {
            alert("Bạn chưa nhập thông tin bài viết!");
            return;
        }

        $('#editPostForm').off('submit').submit();
    });
</script>
{{/section}}