<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>Bài viết của bạn</h3>
        </div>
        <div class="col-md-4 text-right">
            <a href="/writer/new" class="btn btn-primary"><i class="fa fa-file-o"></i> Tạo bài mới</a>
        </div>
    </div>
    {{#if article_list}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã bài</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Chuyên mục</th>
                <th scope="col">Nhãn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Ghi chú từ người duyệt</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each article_list}}
            <tr>
                <th scope="row">{{article_id}}</th>
                <td><a href="/view/post/{{article_id}}">{{title}}</a></td>
                <td>{{cat_subcat}}</td>
                <td>
                    {{#each tagnames}}
                    <span class="badge badge-primary">{{this}}</span>
                    {{/each}}
                </td>
                <td>
                    {{#if (ifCond state '==' '1')}}
                    <span class="badge badge-warning">Đã duyệt, chờ xuất bản</span>
                    {{else if (ifCond state '==' '2')}}
                    <span class="badge badge-success">Đã xuất bản</span>
                    {{else if (ifCond state '==' '3')}}
                    <span class="badge badge-danger">Bị từ chối</span>
                    {{else if (ifCond state '==' '4')}}
                    <span class="badge badge-secondary">Chưa duyệt</span>
                    {{/if}}
                </td>
                <td>
                    {{#if (ifCond state '==' '3')}}
                    <b>{{editor}}:</b> {{reason}}
                    {{/if}}
                </td>
                <td>
                    {{#if (ifCond state '==' '3')}}
                    <a href="/writer/edit/{{article_id}}" class="btn btn-primary btn-sm"><i class="fa fa-cut"></i> Chỉnh sửa</a>
                    {{else if (ifCond state '==' '4')}}
                    <a href="/writer/edit/{{article_id}}" class="btn btn-primary btn-sm"><i class="fa fa-cut"></i> Chỉnh sửa</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Bạn chưa tạo bài viết nào!</p>
    {{/if}}
</div>